.card_info {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}

.card_name,
.card_description {
  color: var(--color-main-light);
}

.card_name {
  font-size: var(--font-lg);
  font-family: var(--font-primary);
}

.card_position {
  color: var(--color-dark-green);
  font-weight: bolder;
}

.card_position,
.card_description {
  font-size: var(--font-base);
  font-family: var(--font-secondary);
}

.card_description {
  text-wrap: pretty;
}

.card_social {
  display: flex;
  gap: 1rem;
}

@media (min-width: 520px) {
}

@media (min-width: 720px) {
  .card_info {
    max-width: 500px;
  }
}

@media (min-width: 920px) {
}

@media (min-width: 1220px) {
}
