.search-bar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: row nowrap;
  gap: 0.3rem;
  background-color: var(--color-white-100);
  border-radius: 2rem;
  height: 3rem;
  width: 100%;
}
.search-bar > label {
  display: grid;
  width: 3rem;
  place-content: center;
  height: 3rem;
  margin: 0 1rem;
}
.search-bar > input {
  padding: 0.5rem 0.3rem;
  width: calc(100% - 3.5rem);
  height: 100%;
  background-color: inherit;
  border: 0;
  border-radius: inherit;
  font-size: var(--font-base);
  color: var(--color-dark-blue);
}
.search-bar > input:focus {
  border: none;
  outline: none;
}
.search-bar > input::placeholder {
  border: none;
  outline: none;
  color: var(--color-gray-500);
}

.search-bar:has(> input:focus) {
  outline: 2px solid var(--color-purple);
}
@media only screen and (min-width: 720px) {
  .search-bar {
    max-width: 30rem;
  }
}
