.blog-main-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  background-color: var(--color-dark-blue);
}
.blog-posts {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(auto-fill, minmax(290px, 400px));
  gap: 2.5rem;
  background-color: var(--color-white-100);
}

@media only screen and (min-width: 920px) {
  .blog-main-box {
    display: flex;
    margin-top: 0;
    width: 100%;
  }
}
