.hero_container {
  min-height: 35rem;
  height: 80vh;
  max-height: var(--responsive-device-lg);
  max-height: 40rem;
  position: relative;
}

.hero_bg_image {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(50%);
  z-index: 0;
}

.hero_content {
  padding: var(--app-padding);
  position: relative;
  height: 100%;
}

.hero_top {
  color: var(--color-main-light);
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 3rem;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    'left left'
    'bottom bottom';
}

.hero_left {
  width: 100%;
  grid-area: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3rem;
}

.hero_text {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 1rem;
}

.hero_text__title {
  font-size: var(--font-2xl);
  font-family: var(--font-primary);
  text-wrap: pretty;
}

.hero_text__subtitle {
  font-size: var(--font-md);
  text-wrap: pretty;
}

.hero_bottom {
  grid-area: bottom;
  display: flex;
  align-items: end;
  gap: 0.5rem;
  font-size: var(--font-lg);
}

.arrow {
  position: relative;
  color: var(--color-purple);
  animation: floating 1s linear infinite;
}

.hero_right {
  grid-area: right;
  display: none;
  height: 100%;
}

.images_container {
  background: linear-gradient(
    var(--color-dark-blue) 0%,
    var(--color-purple) 50%,
    var(--color-dark-blue) 100%
  );
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
  height: 90%;
  width: 100%;
  border-radius: 10px;
  overflow-x: hidden;
  padding: 100px 0;
  backdrop-filter: blur(20px);
}

.left_image,
.middle_image,
.right_image {
  border-radius: 10px;
  width: 60%;
  height: 75%;
  box-shadow: 0 10px 13px rgba(0, 0, 0, 0.65);
  display: none;
}

.middle_image {
  height: 85%;
  display: block;
}

.hero_footer {
  font-size: var(--font-md);
}

@media (min-width: 520px) {
  .hero_top {
    grid-template-areas:
      'left right'
      'bottom bottom';
  }

  .hero_text__title {
    font-size: var(--font-2xl);
    text-wrap: balance;
  }

  .hero_text__subtitle {
    font-size: var(--font-lg);
  }

  .hero_bottom {
    font-size: var(--font-md);
  }
}

@media (min-width: 720px) {
  .hero_bg_image {
    display: none;
  }

  .hero_top {
    grid-template-columns: 65% 1fr;
    grid-template-rows: 85% 1fr;
    column-gap: 2rem;
    row-gap: 3rem;
    height: 100%;
    width: 100%;
  }

  .hero_text {
    align-items: flex-start;
  }

  .hero_right {
    display: flex;
    align-items: center;
  }

  .middle_image {
    width: 80%;
    height: 100%;
  }

  .arrow {
    font-size: var(--font-md);
  }
}

@media (min-width: 920px) {
  .hero_container {
    height: calc(100vh - 115px);
  }

  .middle_image {
    width: 60%;
  }

  .left_image,
  .middle_image,
  .right_image {
    display: block;
  }
}

@media (min-width: 1220px) {
  .images_container {
    padding: 60px 40px;
    gap: 3.5rem;
  }

  .hero_text__title {
    font-size: var(--font-2xl);
  }

  .hero_text__subtitle {
    font-size: var(--font-md);
  }

  .hero_bottom {
    font-size: var(--font-md);
  }
}

@keyframes floating {
  0% {
    bottom: 0px;
  }

  50% {
    bottom: 10px;
  }

  100% {
    bottom: 0px;
  }
}
