.intro {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
  gap: 1.2rem;
}
.intro > h1 {
  font-family: var(--font-primary);
  font-size: var(--font-xl);
  color: var(--color-white-100);
}
.intro > p {
  font-size: var(--font-base);
  color: var(--color-gray-100);
  font-family: var(--font-secondary);
  line-height: 1.8rem;
}
@media only screen and (min-width: 920px) {
  .intro {
    width: 80%;
  }
  .intro > p {
    width: 80%;
  }
}
